html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  padding: env(safe-area-inset);
}

body {
  background-color: var(--bg);
  color: var(--text);
  line-height: 1.25;
  text-transform: lowercase;
  @apply transition-colors duration-200 ease-in-out;
}

.tooltip-box {
  width: 300px;
  background: rgba(0, 0, 0, 0.5);
  text-align: left;
  padding: 10px;
}