.container {
  min-height: 100vh;
  padding: 20px;
  max-width: calc(100vw - 240px);
}

.card {
  background: rgba(220, 220, 220, 0.5);;
  backdrop-filter: blur(8px);
  z-index: 10;
  border-radius: 10px;
}

a.card, button span.card {
  &:hover {
    background: rgba(220, 220, 220, 0.7);
  }
}